* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
}
body {
    background-color: #055;
}
.header {
    position: relative;
    height: 80px;
    background-color: #055;
}
.header h1 {
    position: absolute;
    width: 500px;
    top: 0;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    color: #ff0;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 60px;
    line-height: 85px;
}
.w {
    width: 1200px;
    background-color: #404;
    margin: auto; 
}
/* 导航栏开始 */
.nav {
    position: relative;
    width: 100%;
    height: 45px;
}
.logo {
    position: absolute;  
    top: 1px; 
    height: 45px;
}
.tablebox {
    padding-left: 30px; 
    margin: auto;
    width: 620px;
    height: 45px;
}
.table>li {
    float: left;
    margin-right: -1px;
}
.table>li a {
    height: 45px;
    margin: 0;
    line-height: 45px;
}
.table>li>a:hover {
    color: #dd0;
}
li a {
    display: inline-block;
    height: 45px;
    padding: 0 25px;
    border-left: solid #ff0 1px;
    border-right: solid #ff0 1px;
    color: #fff;
}
.product, .about {
    display: none;
    padding: 0;
    margin: 0;
}
.product a, .about a {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 44px;
    background-color: rgb(66, 0, 66, .7);
    border: none;
    color: #fff;
    text-align: center;
}
.product a:hover, .about a:hover {
    background-color: #420042;
    color: #dd0;
}
/* 导航栏右侧开始 */
.homepage {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 16px;
}
.homepage .tou {
    display: inline-block;
    width: 44px;
    height: 44px;
}
.homepage .tou img {
    width: 44px;
    height: 44px;
    vertical-align: bottom;
    border-radius: 50%;
    border: solid rgb(192, 192, 192, 1) 1px;
    box-shadow: silver 0 0 8px;
}
.homepage .zi { 
    display: inline-block;
    position: relative;
    margin-bottom: -2px; 
    width: 5em;
    height: 20px;
}
.homepage .zi input {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    border: none;
    color: #ff0;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #404;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
/* 导航栏右侧、导航栏结束 */