<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这是登录页面</title>
    <link rel="icon" type="image/x-icon" href="../../static/kate.jpg">
    <link rel="stylesheet" href="../../static/index_style.css">
    <base target="_self">
    <script src="jquery.min.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
    <form action="/login" method="post" autocomplete="off">
        <div id="header"><h1>欢迎登录</h1></div>
        <div class="user">
            <input type="text" id="username" name="username" placeholder="邮箱" maxlength="24" required>
            <input type="password" name="password" placeholder="密码" minlength="6" maxlength="16" required>
        </div>
        <div class="buttons">
            <a href="register">注册</a>
            <button type="submit" class="submit">登录</button>
        </div>
    </form>
    {% if error %}
            <p>{{ error }}</p>
    {% endif %}
    <script>
        $(document).ready(function() {
            
        })
    </script>
</body>
</html>

